# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\兼职\y0393\源码\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
